@import "../../config/config.scss";

.rootContainer {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    & .titleContainer {
    }

    & .inputContainer {
        & .secondaryButtonContainer {
            border-radius: 0 5px 5px 0;
            margin: 0 $spacingMedium 0 0;
        }
    }
}
